<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<table>
    <thead>
    <th>아이디</th>
    <th>이름</th>
    <th>나이</th>
    <th>가입일</th>
    </thead>
    <tbody>
    <tr th:each="item : ${users}">
        <td th:text="${item.userId}">Item Id</td>
        <td th:text="${item.userName}">Item Name</td>
        <td th:text="${item.userAge}">Item Age</td>
        <td th:text="${item.userJoinDate}">Item joinDate</td>
    </tr>
    </tbody>
</table>
</body>
</html>
